<header class="masthead masthead-page mb-5">
    <nav class="navbar navbar-expand-lg justify-content-between"
         style="position:relative;">
        <span id="toggle-sidebar" class="ui-menu" style="visibility: inherit; opacity: 1;">
            <span class="ui-menu__bar"></span>
            <span class="ui-menu__bar"></span>
            <span class="ui-menu__bar"></span>
        </span>
        <div class="navbar-toggler order-2"
             style="margin-left:98%; margin-top:-50px;" data-toggle="collapse"
             data-target="#navbar-list-9" aria-controls="navbarNav" aria-expanded="false"
             aria-label="Toggle navigation">
            <i class="fa fa-ellipsis-v" style="color:#fff;font-size: 25px;"></i>
        </div>
        <div id="search" class="navbar-brand mx-lg-0 order-1 order-lg-2" style="width:3500px;">
            <div class="input-group  has-search ">
                <input class="form-control py-2" style="color:#fff;" type="search" placeholder="Search..." id="example-search-input" />
                <span class="fa fa-search form-control-feedback"></span>
            </div>
        </div>
        <div class="collapse navbar-collapse w-100 order-3 order-lg-1" id="navbar-list-9">
            <ul class="navbar-nav" style="color:#ddd">
                <li class="nav-item active">
                    <a style="font-size: 25px;" class="nav-link" href="#">
                        <?xml version="1.0" encoding="iso-8859-1" ?>
                        <span class="glow" style="margin:0 0 0 15px;">e</span>
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="45px" height="45px" viewBox="0 0 982.145 982.145" style="margin: -15px 0 0 5px; fill: url(#MyGradient);"
                             xml:space="preserve">
                        <defs>
                        <linearGradient id="MyGradient">
                        <stop offset="5%" stop-color="#f5f5ff" />
                        <stop offset="95%" stop-color="#f8f8ff" />
        </linearGradient>
      </defs>
<g>
<g>
<path d="M105.521,404.352l7.82,30.62l86.001,336.739H711.91l12.748-68.014c10.75-3.395,21.369-7.287,31.832-11.711
			c42.891-18.141,81.402-44.105,114.469-77.17c33.064-33.064,59.029-71.578,77.17-114.469
			c18.789-44.422,28.316-91.591,28.316-140.198c0-48.606-9.527-95.775-28.316-140.197c-18.141-42.891-44.105-81.403-77.17-114.468
			c-33.064-33.065-71.578-59.029-114.469-77.17C712.949,9.898,666.764,0.404,619.176,0.035C618.215,0.028,617.256,0,616.293,0
			s-1.922,0.028-2.883,0.035c-47.588,0.37-93.771,9.864-137.315,28.28c-42.892,18.141-81.403,44.105-114.469,77.17
			c-33.064,33.065-59.028,71.578-77.169,114.468c-18.789,44.422-28.316,91.591-28.316,140.197c0,22.272,2.025,44.237,6,65.78
			l-84.017,0.029l-22.119-86.607H5.699v32.5l0,0v32.5h55.424H105.521L105.521,404.352z M322.922,392.65h91.796
			c0.542,11.191,1.365,22.275,2.46,33.229l-88.719,0.029C325.988,414.99,324.146,403.889,322.922,392.65z M377.473,186.64
			c16.922,8.255,35.214,15.574,54.589,21.883c-9.43,37.238-15.324,77.455-17.343,119.127h-91.796
			C328.5,276.409,347.23,228.082,377.473,186.64z M473.848,101.517c-2.221,3.896-4.397,7.889-6.522,11.989
			c-5.483,10.577-10.57,21.695-15.256,33.281c-9.772-3.193-19.189-6.683-28.215-10.45
			C439.416,122.917,456.168,111.288,473.848,101.517z M808.869,136.453c-9.053,3.769-18.5,7.26-28.303,10.453
			c-4.699-11.628-9.801-22.787-15.303-33.4c-2.127-4.1-4.303-8.093-6.523-11.989C776.473,111.316,793.271,122.983,808.869,136.453z
			 M909.668,327.65h-91.797c-2.018-41.626-7.9-81.801-17.312-119.005c19.4-6.299,37.719-13.608,54.666-21.856
			C885.402,228.198,904.096,276.47,909.668,327.65z M854.51,534.496c-16.805-8.166-34.926-15.4-54.25-21.666
			c9.586-37.532,15.572-78.115,17.611-120.18h91.797C904.053,444.235,885.111,492.869,854.51,534.496z M479.792,392.65h104.002
			v33.171l-101.292,0.034C481.297,414.953,480.39,403.874,479.792,392.65z M494.951,224.706
			c28.475,5.564,58.322,9.187,88.844,10.705v92.239H479.792C481.72,291.432,486.865,256.694,494.951,224.706z M752.797,327.65
			H648.795v-92.219c30.52-1.499,60.377-5.103,88.861-10.65C745.732,256.748,750.871,291.46,752.797,327.65z M750.096,425.764
			l-101.301,0.034v-33.149h104.002C752.201,403.842,751.297,414.891,750.096,425.764z M716.697,162.659
			c-21.818,3.852-44.584,6.459-67.902,7.711V74.435c21.193,12.211,41.613,35.912,58.762,68.989
			C710.764,149.609,713.807,156.036,716.697,162.659z M583.795,74.435v95.916c-23.314-1.268-46.068-3.891-67.875-7.757
			c2.883-6.6,5.914-13.005,9.109-19.169C542.18,110.347,562.6,86.646,583.795,74.435z M758.74,618.781
			c2.221-3.895,4.398-7.889,6.523-11.988c5.309-10.242,10.248-20.99,14.811-32.182c9.584,3.109,18.83,6.5,27.701,10.156
			C792.484,597.846,776.061,609.211,758.74,618.781z M315.802,490.912l35.731-0.012l75.67-0.025l33.29-0.012l33.278-0.011
			l38.172-0.013l51.852-0.019l65-0.021l49.641-0.018l-11.953,63.777l-13.5,72.023l-4.525,24.141l-4.494,23.982l-1.855,9.895
			l-4.145,22.113h-98.215h-41.809h-268.11l-55.104-215.759l85.916-0.028L315.802,490.912z" />
<path d="M629.111,982.145c52.918,0,95.971-43.051,95.971-95.969s-43.053-95.971-95.971-95.971H281.206
			c-52.918,0-95.97,43.053-95.97,95.971s43.052,95.969,95.97,95.969c52.918,0,95.97-43.051,95.97-95.969
			c0-10.832-1.807-21.25-5.129-30.971h166.224c-3.322,9.721-5.129,20.139-5.129,30.971
			C533.143,939.094,576.193,982.145,629.111,982.145z M312.175,886.176c0,17.076-13.894,30.969-30.97,30.969
			c-17.077,0-30.97-13.893-30.97-30.969c0-17.078,13.893-30.971,30.97-30.971C298.282,855.205,312.175,869.1,312.175,886.176z
			 M660.082,886.176c0,17.076-13.895,30.969-30.971,30.969c-17.078,0-30.971-13.893-30.971-30.969
			c0-17.078,13.893-30.971,30.971-30.971C646.188,855.205,660.082,869.1,660.082,886.176z" />



	
</g></g></svg> <span class="sr-only">(current)</span>

                        <span class="glow" style="font-size:25px; padding:0;">BD</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end w-100 order-3" id="navbar-list-9">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?xml version="1.0" encoding="iso-8859-1" ?>
                        <svg version="1.1" id="svg_support" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="40px" height="40px" viewBox="0 0 477.655 477.655" xml:space="preserve">
<g>
                        <path d="M440.367,440.415l-10.173-29.91c-19.102-56.262-70.83-94.605-129.763-97.121c-5.187,4.03-10.655,7.493-16.322,10.521
		c-8.449,22.185-36.836,28.195-53.468,11.205c-19.676-1.738-37.69-9.511-53.422-21.725c-58.933,2.508-110.647,40.851-129.763,97.121
		L37.3,440.415c-2.936,8.603-1.522,18.084,3.774,25.469c5.279,7.391,13.821,11.771,22.906,11.771h349.693
		c9.083,0,17.626-4.379,22.906-11.771C441.873,458.499,443.286,449.018,440.367,440.415z" style="fill:#FFFAF0" />
                        <path d="M277.758,290.619c34.212-24.047,58.141-77.151,58.141-128.491c0-145.907-194.133-145.752-194.133,0
		c0,62.397,35.33,127.303,81.546,139.556c4.456-12.626,16.382-21.757,30.515-21.757C263.331,279.926,271.81,284.095,277.758,290.619
		z" style="fill:#FFFAF0" />
                        <path d="M99.169,223.042c4.813,18.906,31.044,13.704,31.044-3.805c0-70.178,3.354-76.731-6.041-84.348
		C145.679,2.361,330.946,3.355,353.495,134.904c-9.381,7.641-6.025,14.163-6.025,84.333c0,5.489,2.95,10.095,7.189,12.952
		c0,54.594-22.145,51.402-88.736,69.052c-10.295-11.174-28.683-3.899-28.683,11.173c0,18.876,27.053,23.293,32.302,4.318
		c53.762-14.256,101.018-18.752,101.018-72.484v-11.027c3.991-2.066,6.817-5.729,7.951-10.179c51.822-1.056,51.838-78.719,0-79.775
		c-1.072-4.24-3.711-7.703-7.423-9.815c1.336-15.902-1.94-36.805-11.057-56.985C296.626-54.368,109.355-3.176,106.422,123.622
		c-0.404,4.294-0.078,7.338,0.17,9.83c-3.712,2.112-6.351,5.575-7.423,9.815c-21.71,0.419-39.212,18.084-39.212,39.888
		C59.957,204.958,77.459,222.622,99.169,223.042z" style="fill:#ff0000" />
</g></svg>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_customer" style="float:right;width:200px;">

                        <span class="dropdown-item">+88 019 17 66 21 05</span>
                        <span class="dropdown-item" style="display: none;">@@gmail.com</span>
                        <span class="dropdown-item">Chat With Us</span>
                        <span class="dropdown-item">Manually Order Now</span>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink_customer" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/Content/images/fox.jpg"
                             width="40" height="40" class="rounded-circle" style="display: none;" />
                        <?xml version="1.0" encoding="iso-8859-1" ?>
                        <svg version="1.1" id="svg_support" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="40px" height="40px" viewBox="0 0 477.655 477.655" xml:space="preserve">
<g>
                        <path d="M440.367,440.415l-10.173-29.91c-19.102-56.262-70.83-94.605-129.763-97.121c-5.187,4.03-10.655,7.493-16.322,10.521
		c-8.449,22.185-36.836,28.195-53.468,11.205c-19.676-1.738-37.69-9.511-53.422-21.725c-58.933,2.508-110.647,40.851-129.763,97.121
		L37.3,440.415c-2.936,8.603-1.522,18.084,3.774,25.469c5.279,7.391,13.821,11.771,22.906,11.771h349.693
		c9.083,0,17.626-4.379,22.906-11.771C441.873,458.499,443.286,449.018,440.367,440.415z" style="fill:#FFFAF0" />
                        <path d="M277.758,290.619c34.212-24.047,58.141-77.151,58.141-128.491c0-145.907-194.133-145.752-194.133,0
		c0,62.397,35.33,127.303,81.546,139.556c4.456-12.626,16.382-21.757,30.515-21.757C263.331,279.926,271.81,284.095,277.758,290.619
		z" style="fill:#FFFAF0" />


                                    
</g></svg>

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_customer" style="float:right;width:auto;">
                        <a class="dropdown-item" href="#" id="signin">Sign In</a>
                        <a class="dropdown-item" href="#">Register</a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_customer" style="float:right;display:none;width:150px;">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <svg style="pointer-events: none;position:relative;z-index:-1" class="wave" width="100%" height="50px"
         preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 1920 75">
        <defs>
            <clipPath id="a">
                <rect class="a" width="1920" height="75"></rect>
            </clipPath>
        </defs>
        <title>wave</title>
        <g class="b">
            <path class="c"
                  d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48">
            </path>
        </g>
        <g class="b">
            <path class="d"
                  d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10">
            </path>
        </g>
        <g class="b">
            <path class="d"
                  d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24">
            </path>
        </g>
        <g class="b">
            <path class="d"
                  d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150">
            </path>
        </g>
    </svg>
</header>

<div class="container">
    <div id="myModal" class="modal" role="dialog" style="top: 25%;">
        <div class="row">
            <div class="container d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <i style="margin-top: -30px;font-size:25px;" class="fas fa-user prefix"></i>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-inline">

                                        <div class="form-group">
                                            <div class="md-form">
                                                <i class="fas fa-mobile"></i>
                                                <input type="text" id="inputIconEx2" class="form-control" />
                                                <label for="inputIconEx2">Mobile Number</label>
                                            </div>
                                        </div>
                                        <div class="md-form">
                                            <i class="fas fa-lock"></i>
                                            <input type="password" id="materialFormCardPasswordEx" class="form-control" />
                                            <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
                                        </div>
                                        <div class="checkbox">
                                            <div class="form-check my-4">
                                                <input class="form-check-input" type="checkbox" id="defaultCheck12" />
                                                <label for="defaultCheck12" class="grey-text">
                                                    Remember Me
                                                    @*<a class="blue-text"> </a>*@
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                    @*<div class="col-sm-6 mb-2 mb-md-0">


                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-default">Mobile Number</span>
                                                </div>
                                                <input type="tel" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Mobile Number" id="customer_mobile" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                                </div>
                                                <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Password" id="customer_password" />
                                            </div>*@

                                </div>
                            </div>
                            @*<a href="#" id="close-modal" data-dismiss="modal" aria-label="Close">Not Now</a>*@
                            <div class="text-center mt-30"> <button>Ok</button><button id="close-modal" data-dismiss="modal" aria-label="Close">Cancel</button> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="modal-backdrop" style="display:none;"></div>
    <style>
        .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        }
        .modal-backdrop.show {
        opacity: .5;
        }
        .md-form {
        position: relative;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        }
        img.lazy-image {
        display: inline-block;
        background-image: url('../../../~/Content/img/loading.gif');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        }
    </style>
</div>